@charset "utf-8"
html{
	font-family: 'Poppins', sans-serif;
}
body {
	  margin: 0px;
	  padding: 0px;
	  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	  /*background: url("img/backgroundPic.jpg") no-repeat center center fixed;*/
	  /*background-size:100% auto;*/
	  /*background-size: cover;*/
	}

/*#bg{
	background: url("img/backgroundPic.jpg") no-repeat center center fixed;
	background-size:100% auto;
	background-size: cover;

}*/

.nav-bg {
	background-color: #CEE7E6;
}

.nav-link{
	border: 1px solid white;
	border-radius: 20px;
	color: #FF5E7E;
}
.bg { 
    background-image:url("img/backgroundPic.jpg") !important;
    /*width: 100%;
    height: auto;
	max-height: 100vh;
	max-width: 100vw;*/
	max-width: 100%;
	height: auto;
    background-position: center;
    background-repeat: no-repeat;
   /* background-size: cover;*/
}

li a:hover:not(.active){
	background-color: #22c9b8;
}

li a.active{
	background-color: #FF5E7E;

}

.btn{
	background-color:#D6D3F0;
	color:#FF5E7E;
	border:none;
}

.btn-primary {
  color: #FF5E7E;
  background-color: #D6D3F0;
  border:none;
}

.btn-primary:hover {
  color: #FF5E7E;
  background-color: #c2bcf2;
  border:none;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #D6D3F0;
  border:none;
}


.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #FF5E7E;
  background-color: #D6D3F0 ;
  border: none;
}
